<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Intranet Drotium">
<meta name="author" content="Alejandro Campos - Drotium">
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Drotium Intranet - Admin Zone</title>
<th:block th:include="includes/links :: links"></th:block>
<link th:href="@{/css/admin.css}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<div class="content-wrapper">
		<div class="row m-1">
			<div class="col col-lg-8 container-fluid">
				<div class="card mb-3">
					<div class="card-header" style="background-color: #51C3F1;">
						<span class="text-white"><i class="fa fa-user-circle-o mr-2"
							aria-hidden="true"></i>Current Active Users</span>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover" width="100%" id="uTable"
								cellspacing="0">
								<thead>
									<tr>
										<th>#</th>
										<th>Email</th>
										<th>Name</th>
										<th>Lastname</th>
										<th>Last Connection</th>
										<th>Options</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user, cont:${users}">
										<th th:text="${cont.count}"></th>
										<td th:text="${user.email}"></td>
										<td th:text="${user.name}"></td>
										<td th:text="${user.lastName}"></td>
										<td>
											<div th:remove="tag" th:if="${user.lastConnect != null}">
												<th:block
													th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}"
													th:switch="${days.convert(#dates.createNow().getTime() - user.lastConnect.getTime(), millis)}">
													<div th:remove="tag" th:case="0">
														<span>Today</span>
													</div>
													<div th:remove="tag" th:case="*">
														<span
															th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}"
															th:text="${days.convert(#dates.createNow().getTime() - user.lastConnect.getTime(), millis)} + ' days ago'"></span>
													</div>
												</th:block>
											</div> <span th:if="${user.lastConnect == null}"><i
												class="fa fa-minus" aria-hidden="true"></i></span>
										</td>
										<td><a th:if="${!user.isAdmin()}" id="editU"
											class="btn btn-sm pull-right m-0 text-white"
											style="background-color: #51C3F1; border-color: #51C3F1;">
												<i class="fa fa-edit" aria-hidden="true"></i><input
												type="hidden" th:value="${user.encrypt()}">
										</a>
											<div th:if="${!user.isAdmin()}"
												class="btn-group pull-right mr-2">
												<button class="btn btn-primary btn-sm dropdown-toggle"
													type="button" data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false">Delete User</button>
												<div class="dropdown-menu">
													<a id="delete" class="text-center"> Delete <input
														type="hidden" th:value="${user.encrypt()}">
													</a>
												</div>
											</div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="card mb-3" th:if="${#lists.size(notifications) != 0}">
					<div class="card-header bg-danger">
						<span class="text-white"><i class="fa fa-user-circle-o mr-2"
							aria-hidden="true"></i>Deactivated Users</span>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover" width="100%" id="uTable"
								cellspacing="0">
								<thead>
									<tr>
										<th>#</th>
										<th>Email</th>
										<th>Name</th>
										<th>Lastname</th>
										<th>Sign Up Date</th>
										<th>Choose</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="notif, cont:${notifications}">
										<th th:text="${cont.count}"></th>
										<td th:text="${notif.sender.email}"></td>
										<td th:text="${notif.sender.name}"></td>
										<td th:text="${notif.sender.lastName}"></td>
										<td>
											<div
												th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}"
												th:switch="${days.convert(#dates.createNow().getTime() - notif.sender.creation.getTime(), millis)}">
												<small th:case="0">Today</small> <small th:case="*"
													th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}"
													th:text="${days.convert(#dates.createNow().getTime() - notif.sender.creation.getTime(), millis) + ' days ago'}"></small>
											</div>
										</td>
										<td><a id="refuse"
											class="btn btn-danger btn-sm pull-right mr-2 text-white"><i
												class="fa fa-times" aria-hidden="true"></i> <input
												type="hidden" th:value="${notif.sender.encrypt()}"></input>
												Refuse </a> <a id="accept"
											class="btn btn-sm pull-right mr-2 text-white"
											style="background-color: #51C3F1; border-color: #51C3F1;"><i
												class="fa fa-check" aria-hidden="true"></i> <input
												type="hidden" th:value="${notif.sender.encrypt()}"></input>
												Accept </a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="col col-lg-4 container-fluid">
				<div class="card">
					<div class="text-center">
						<h5 class="alert mt-2 ml-2 mr-2 font-weight-bold text-white"
							style="background-color: #51C3F1;">
							<i class="fa fa-bell color-white"></i> Create New Notification
						</h5>
					</div>
					<div class="form-group dro-border ml-3 mr-3">
						<select class="form-control mb-2" id="nType">
							<option>Advice</option>
						</select>
						<textarea class="form-control" id="nContent" maxlength="250"
							rows="10" placeholder="Write something here..."></textarea>
						<div>
							<small> <span id="nLetters">0</span> <span>/250</span>
							</small>
							<button class="btn btn-sm pull-right" id="nButton"
								style="background-color: #51C3F1; border-color: #51C3F1;">Send</button>
						</div>
					</div>
				</div>
				<div class="mt-3">
					<div class="card mb-2" th:each="notify:${notifies}">
						<div class="card-body">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="card-title" th:text="${notify.type}"></h5>
								<small th:text="${#dates.format(notify.creation, 'dd-MM-yyyy')}"></small>
							</div>
							<p class="card-text text-justify" th:text="${notify.content}"></p>
							<a id="nRemove"
								class="btn btn-danger btn-sm pull-right mr-2 text-white"> <i
								class="fa fa-times" aria-hidden="true"></i> <input type="hidden"
								th:value="${notify.encrypt()}">Remove
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- EDIT MODAL -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<form method="POST">
				<div class="modal-content">
					<div class="modal-body">
						<form method="POST">
							<div class="row border border-dark rounded m-3 p-3">
								<div class="col col-md-4 form-group mb-2">
									<small for="userName" class="d-block">Name:</small> <input
										type="hidden" id="uTc" value=''> <input type="text"
										pattern="[a-zA-Z0-9\s]+" id="userName"
										class="form-control form-control-sm" value=""
										placeholder="User Name" required></input>
								</div>
								<div class="col col-md-4 form-group mb-2">
									<small for="userLastName" class="d-block">Last Name:</small> <input
										id="userLastName" pattern="[a-zA-Z0-9\s]+"
										class="form-control form-control-sm" value=""
										placeholder="Last Name" required></input>
								</div>
								<div class="col col-md-4 form-group mb-2">
									<small for="userEmail" class="d-block">Email:</small> <input
										id="userEmail" pattern="[a-zA-Z0-9.]+@drotium.com"
										class="form-control form-control-sm" value=""
										placeholder="Email" required></input>
								</div>
								<div class="col col-md-4 form-group mb-2">
									<small for="userActive" class="d-block">Active:</small> <span
										id="userActive" class="font-weight-bold d-block">Yes</span>
								</div>
								<div class="col col-md-4 form-group mb-2">
									<small for="userCreation" class="d-block">Creation:</small> <span
										id="userCreation" class="font-weight-bold d-block">19-07-2018
										09:07</span>
								</div>
								<div class="col col-md-4 form-group mb-2">
									<small for="userConnect" class="d-block">Last
										Connection:</small> <span id="userConnect"
										class="font-weight-bold d-block">23-06-2018 10:17</span>
								</div>
								<div class="col col-md-4 form-group mb-2">
									<small for="userRole" class="d-block">Role:</small> <span
										id="userRole" class="font-weight-bold d-block">Admin</span>
								</div>
							</div>
						</form>
						<button id="uedit" class="btn btn-sm pull-right mr-3 mb-3"
							style="background-color: #51C3F1; border-color: #51C3F1;">Confirm</button>
						<button class="btn btn-elegant btn-sm pull-right mr-1"
							type="button" data-dismiss="modal">
							Cancel</i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Footer -->
	<th:block th:include="includes/footer :: footer"></th:block>
	<th:block th:include="includes/scripts :: scripts"></th:block>
	<script th:src="@{/js/admin/admin.js}"></script>
	<script type="text/javascript">
		$("#nContent").bind('input propertychange', function() {
			$("span#nLetters").text($("#nContent").val().length);
		});
	</script>
	<script type="text/javascript">
		$("body").niceScroll({
			fixed : true,
			zindex : '99999999',
			cursorcolor : '#51C3F1',
			cursorborderradius : 0,
			cursorborder : 'none'
		});
	</script>
</body>

</html>
