<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Intranet Drotium">
<meta name="author" content="Alejandro Campos - Drotium">
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Drotium Intranet</title>
<th:block th:include="includes/links :: links"></th:block>
</head>

<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="row" th:if="${#lists.size(notifications) != 0}">
				<div class="col col-sm-4 col-sm mb-3" th:each="user:${notifications}">
					<div class="card border-primary">
				    	<div class="card-body">
					        <div class="d-flex w-100 justify-content-between">
						    	<h5 class="card-title" th:text="${user.name} + ' ' + ${user.lastName}"></h5>
						       	<div th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}" th:switch="${days.convert(#dates.createNow().getTime() - user.creation.getTime(), millis)}">
						        	<small th:case="0">Today</small>
						        	<small th:case="*" th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}" th:text="${days.convert(#dates.createNow().getTime() - user.creation.getTime(), millis) + ' days ago'}"></small>
					        	</div>
					        </div>
					        <p class="card-text" th:text="${user.email}"></p>
							<a id="refuse" class="btn btn-danger btn-sm pull-right mr-2 text-white"><i class="fa fa-times" aria-hidden="true"></i>
							<input type="hidden" th:value="${user.encrypt()}"></input>
					        Refuse</a>
					        <a id="accept" class="btn btn-sm pull-right mr-2 text-white border-primary" style="background-color:#51C3F1;"><i class="fa fa-check" aria-hidden="true"></i>
					        <input type="hidden" th:value="${user.encrypt()}"></input>
					        Accept</a>
				      	</div>
				    </div>
				</div>
			</div>
		</div>
		<!-- <div th:if="${#lists.size(notifications) == 0}">
			<h3 class="alert alert-success m-3">There are no new alerts!</h3>
		</div> -->
		
		<div class="text-center">
			<h3 class="alert alert-info mt-2 ml-4 mr-4 border-primary">Current Active Users</h3>
		</div>

		<div class="container-fluid">
			<div class="row" th:if="${#lists.size(users) != 0}">
				<div class="col col-sm-4 col-sm mb-3" th:each="user:${users}">
				    <div class="card" th:classappend="${user.active == 1} ? border-primary">
						<div class="card-body">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="card-title" th:text="${user.name} + ' ' + ${user.lastName}"></h5>
								<small th:if="${user.lastConnect != null}" th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}" th:text="'Last connection: ' + ${days.convert(#dates.createNow().getTime() - user.lastConnect.getTime(), millis)} + ' days ago'"></small>
								<small th:if="${user.lastConnect == null}">Last connection: never</small>
							</div>
							<p class="card-text" th:text="${user.email}"></p>
							<a id="delete" class="btn btn-danger btn-sm pull-right mr-2 text-white"><i class="fa fa-times" aria-hidden="true"></i><input type="hidden" th:value="${user.encrypt()}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>

	<!-- Footer -->
	<th:block th:include="includes/footer :: footer"></th:block>
	<th:block th:include="includes/scripts :: scripts"></th:block>
	<script th:src="@{/js/admin/admin.js}"></script>
	<script type="text/javascript">
		$("body").niceScroll({
			fixed:true,
			zindex:'99999999',
			cursorcolor: '#51C3F1',
			cursorborderradius: 0,
			cursorborder:'none'
		});
	</script>
</body>

</html>
