<!DOCTYPE html>
<meta charset="utf-8">
<title>Drotium Intranet - Admin Zone</title>
<th:block th:include="includes/links :: links"></th:block>
<link th:href="@{/css/tree.css}" rel="stylesheet">
<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<div class="content-wrapper">
		<div class="container mb-3">
			<div class="card">
				<div class="card-header" style="background-color: #51C3F1;">
					<div class="text-center">
						<h5 class="font-weight-bold text-white m-0">
							<i class="fa fa-pagelines" aria-hidden="true"></i>
							<span>Dependency Tree</span>
						</h5>
					</div>
				</div>
				<div class="card-body" id="chart"></div>
			</div>
		</div>
	</div>

	<th:block th:include="includes/footer :: footer"></th:block>
	<th:block th:include="includes/scripts :: scripts"></th:block>
	<script type="text/javascript">
		$("body").niceScroll({
			fixed : true,
			zindex : '99999999',
			cursorcolor : '#51C3F1',
			cursorborderradius : 0,
			cursorborder : 'none'
		});
	</script>
	
	<script th:src="@{/js/d3/d3.v4.min.js}"></script>
	<script th:inline="javascript">
	var diameter = 900,
	    radius = diameter / 2,
	    innerRadius = radius - 120;
	
	var cluster = d3.cluster()
	    .size([360, innerRadius]);
	
	var line = d3.radialLine()
	    .curve(d3.curveBundle.beta(0.85))
	    .radius(function(d) { return d.y; })
	    .angle(function(d) { return d.x / 180 * Math.PI; });
	
	var svg = d3.select("#chart").append("svg")
		.attr("class","mx-auto d-block")
		.attr("width", diameter)
	    .attr("height", diameter)
	  .append("g")
	  .attr("transform", "translate(" + radius + "," + (radius-50) + ")");
	
	var link = svg.append("g").selectAll(".link"),
	    node = svg.append("g").selectAll(".node");

	var classes = JSON.parse(/*[[${map}]]*/);
	
	  var root = packageHierarchy(classes)
	      .sum(function(d) { return d.size; });
	
	  cluster(root);
	
	  link = link
	    .data(packageImports(root.leaves()))
	    .enter().append("path")
	      .each(function(d) { d.source = d[0], d.target = d[d.length - 1]; })
	      .attr("class", "link")
	      .attr("d", line);
	
	  node = node
	    .data(root.leaves())
	    .enter().append("text")
	      .attr("class", "node")
	      .attr("dy", "0.31em")
	      .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + (d.y + 8) + ",0)" + (d.x < 180 ? "" : "rotate(180)"); })
	      .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
	      .text(function(d) { return d.data.key; })
	      .on("mouseover", mouseovered)
	      .on("mouseout", mouseouted);
	//});
	
	function mouseovered(d) {
	  node
	      .each(function(n) { n.target = n.source = false; });
	
	  link
	      .classed("link--target", function(l) { if (l.target === d) return l.source.source = true; })
	      .classed("link--source", function(l) { if (l.source === d) return l.target.target = true; })
	    .filter(function(l) { return l.target === d || l.source === d; })
	      .raise();
	
	  node
	      .classed("node--target", function(n) { return n.target; })
	      .classed("node--source", function(n) { return n.source; });
	}
	
	function mouseouted(d) {
	  link
	      .classed("link--target", false)
	      .classed("link--source", false);
	
	  node
	      .classed("node--target", false)
	      .classed("node--source", false);
	}
	
	// Lazily construct the package hierarchy from class names.
	function packageHierarchy(classes) {
	  var map = {};
	
	  function find(name, data) {
	    var node = map[name], i;
	    if (!node) {
	      node = map[name] = data || {name: name, children: []};
	      if (name.length) {
	        node.parent = find(name.substring(0, i = name.lastIndexOf(".")));
	        node.parent.children.push(node);
	        node.key = name.substring(i + 1);
	      }
	    }
	    return node;
	  }
	
	  classes.forEach(function(d) {
	    find(d.name, d);
	  });
	
	  return d3.hierarchy(map[""]);
	}
	
	// Return a list of imports for the given array of nodes.
	function packageImports(nodes) {
	  var map = {},
	      imports = [];
	
	  // Compute a map from name to node.
	  nodes.forEach(function(d) {
	    map[d.data.name] = d;
	  });
	
	  // For each import, construct a link from the source to target node.
	  nodes.forEach(function(d) {
	    if (d.data.imports) d.data.imports.forEach(function(i) {
	      imports.push(map[d.data.name].path(map[i]));
	    });
	  });
	
	  return imports;
	}
	</script>
</body>
</html>
	