<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Drotium Intranet</title>

<!-- Bootstrap core CSS-->
<link th:href="@{/libs/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<!-- Custom fonts for this template-->
<link th:href="@{/libs/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<link th:href="@{/libs/datatables/dataTables.bootstrap4.css}"
	rel="stylesheet">
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin.css}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<!-- <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">Tables</li>
			</ol> -->
			<!-- Example DataTables Card-->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> My Files
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table row-border" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>File Name</th>
									<th>Owner</th>
									<th>Creation Date</th>
									<th>Last Update</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="folder:${folders}">
									<td><i class="fa fa-folder"
										style="font-size: 24px; color: #7E8C95;"></i> <a class="ml-2"
										th:text="${folder.name}"></a></td>
									<td th:text="${folder.owner.name == user.name ? 'Yo' : folder.owner.name}">Owner</td>
									<td th:text="${#dates.format(folder.creation, 'dd-MM-yyyy')}">Creation
										Date</td>
									<td th:text="${#dates.format(folder.lastUpdate, 'dd-MM-yyyy')}">Update
										Date</td>
									<td>
										<div class="row">
											<div class="col-4">
												<a href="" th:value="${folder}"> <i class="fa fa-download"
													style="font-size: 24px; color: black"></i></a>
											</div>
											<div class="col-4">
												<a href="" th:value="${folder}"> <i class="fa fa-info"
													style="font-size: 24px; color: black"></i></a>
											</div>
										</div>
									</td>
								</tr>
								<tr th:each="file:${files}">
									<td><i class="fa fa-file-text"
										style="font-size: 24px; color: #0079CA;"></i> <a class="ml-2"
										th:text="${file.name}"></a></td>
									<td th:text="${file.owner.name == user.name ? 'Yo' : file.owner.name}">Owner</td>
									<td th:text="${#dates.format(file.creation, 'dd-MM-yyyy')}">Creation
										Date</td>
									<td th:text="${#dates.format(file.lastUpdate, 'dd-MM-yyyy')}">Update
										Date</td>
									<td>
										<div class="row">
											<div class="col-4">
												<a class="" href="" th:value="${user}"> <i class="fa fa-download"
													style="font-size: 24px; color: black"></i></a>
											</div>
											<div class="col-4">
												<a class="" href="" th:value="${user}"> <i class="fa fa-info"
													style="font-size: 24px; color: black"></i></a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted"
					th:text="'Updated ' + ${#dates.format(lastDate, 'dd-MM-yyyy')}">Last
					Update</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<th:block th:include="includes/footer :: footer"></th:block>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/libs/jquery/jquery.min.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/libs/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Page level plugin JavaScript-->
	<script th:src="@{/libs/chart.js/Chart.min.js}"></script>
	<script th:src="@{/libs/datatables/jquery.dataTables.js}"></script>
	<script th:src="@{/libs/datatables/dataTables.bootstrap4.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin.min.js}"></script>
	<script th:src="@{/js/sb-admin-datatables.js}"></script>

	<!-- Toggle between dark and light navbar-->
	<script>
		$('#toggleNavColor').click(function() {
			$('nav').toggleClass('navbar-dark navbar-light');
			$('nav').toggleClass('bg-dark bg-light');
			$('body').toggleClass('bg-dark bg-light');
		});
	</script>
</body>

</html>
