<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Intranet Drotium">
<meta name="author" content="Alejandro Campos - Drotium">
<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Drotium Intranet</title>
<link th:href="@{/libs/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
</head>
<body>

	<th:block th:switch="${file.format}">
		<div th:remove="tag" th:case="'pdf'">
			<div class="embed-responsive embed-responsive-4by3">
				<div style="width: 100%; height: 100%">
					<iframe th:if="${file.format} == 'pdf'" th:src="@{'/js/pdf/web/viewer.html?file=' + ${file.name}}" height="800px" width="800px"></iframe>
				</div>
			</div>
		</div>
		<div th:remove="tag" th:case="*">
			<div class="container m-0">
				<th:block th:each="line, i: ${content}">
					<div>
						<small class="mr-4" th:text="${i.index} + ':'"></small>
						<p class="d-inline mb-0" th:utext="${line}"></p>
					</div>
				</th:block>
			</div>
		</div>
	</th:block>
	

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/libs/jquery/jquery.min.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
