<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Intranet Drotium">
<meta name="author" content="Alejandro Campos - Drotium">
<meta name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>Drotium Intranet</title>
<th:block th:include="includes/links :: links"></th:block>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> My Files
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table row-border" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>File Name</th>
									<th>Owner</th>
									<th>Creation Date</th>
									<th>Last Update</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="folder:${folders}">
									<td><i class="fa fa-folder"
										style="font-size: 24px; color: #7E8C95;"></i> <a class="ml-2"
										th:text="${folder.name}"></a></td>
									<td
										th:text="${folder.owner.name == user.name ? 'Yo' : folder.owner.name}">Owner</td>
									<td th:text="${#dates.format(folder.creation, 'dd-MM-yyyy')}">Creation
										Date</td>
									<td th:text="${#dates.format(folder.lastUpdate, 'dd-MM-yyyy')}">Update
										Date</td>
									<td>
										<div class="row">
											<div class="col-4">
												<a href="" th:value="${folder}"> <i
													class="fa fa-download"
													style="font-size: 24px; color: black"></i></a>
											</div>
											<div class="col-4">
												<a href="" th:value="${folder}"> <i class="fa fa-info"
													style="font-size: 24px; color: black"></i></a>
											</div>
										</div>
									</td>
								</tr>
								<tr th:each="file:${files}">
									<td><i class="fa fa-file-text"
										style="font-size: 24px; color: #0079CA;"></i> <a class="ml-2"
										th:text="${file.name}"></a></td>
									<td
										th:text="${file.owner.name == user.name ? 'Yo' : file.owner.name}">Owner</td>
									<td th:text="${#dates.format(file.creation, 'dd-MM-yyyy')}">Creation
										Date</td>
									<td th:text="${#dates.format(file.lastUpdate, 'dd-MM-yyyy')}">Update
										Date</td>
									<td>
										<div class="row">
											<div class="col-4">
												<a class="" href="" th:value="${user}"> <i
													class="fa fa-download"
													style="font-size: 24px; color: black"></i></a>
											</div>
											<div class="col-4">
												<a class="" href="" th:value="${user}"> <i
													class="fa fa-info" style="font-size: 24px; color: black"></i></a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted"
					th:text="'Updated ' + ${#dates.format(lastDate, 'dd-MM-yyyy')}">Last
					Update</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<th:block th:include="includes/footer :: footer"></th:block>
	<th:block th:include="includes/scripts :: scripts"></th:block>
</body>

</html>
