<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Intranet Drotium">
	<meta name="author" content="Alejandro Campos - Drotium">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<title>Drotium Intranet</title>
	<th:block th:include="includes/links :: links"></th:block>
</head>

<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<div class="content-wrapper">
		<div class="container">
			<h1 class="text-uppercase font-weight-bold mb-1 row">
				<div class="col-8">
					<span th:text="${user.name}"></span>
					<span style="color:#51C3F1;" th:text="${user.lastName}"></span>
				</div>
				<div class="col-4 mb-0">
					<ul class="list-inline">
						<li class="list-inline-item">
							<img th:src="@{/rss/plus.png}" class="rounded rounded-circle" style="width:50px; height:50px;">
						</li>
						<li class="list-inline-item">
							<img th:src="@{/rss/leafs.png}" class="rounded rounded-circle" style="width:50px; height:50px;">
						</li>
						<li class="list-inline-item">
							<img th:src="@{/rss/face.png}" class="rounded rounded-circle" style="width:50px; height:50px;">
						</li>
						<li class="list-inline-item">
							<img th:src="@{/rss/hand.png}" class="rounded rounded-circle" style="width:50px; height:50px;">
						</li>
					</ul>
				</div>
			</h1>
			<div class="mb-5">
				<span th:text="${user.email}"></span>
			</div>
		</div>
			<div class="row">
				<div class="col m-0">
					<div class="">
						<canvas id="chart1"></canvas>
					</div>
				</div>
				<div class="col m-0">
					<div class="">
						<canvas id="chart2"></canvas>
					</div>
				</div>
				<div class="col m-0">
					<div class="">
						<canvas id="chart3"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<th:block th:include="includes/footer :: footer"></th:block>
	<th:block th:include="includes/scripts :: scripts"></th:block>

	<script type="text/javascript">
	$("body").niceScroll({
		fixed:true,
		zindex:'99999999',
		cursorcolor: '#51C3F1',
		cursorborderradius: 0,
		cursorborder:'none'
	});
	</script>
	<script type="text/javascript">
		//doughnut
		var ctxD = document.getElementById("chart1").getContext('2d');
		var myLineChart = new Chart(ctxD, {
		    type: 'doughnut',
		    data: {
		        labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
		        datasets: [
		            {
		                data: [300, 50, 100, 40, 120],
		                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
		                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
		            }
		        ]
		    },
		    options: {
		        responsive: true,
		        legend: {
		        	display: false
		        },
		        title: {
		            display: true,
		            position: 'bottom',
		            text: 'Custom Chart Title'
		        }
		    }
		});
		ctxD = document.getElementById("chart2").getContext('2d');
		var myLineChart = new Chart(ctxD, {
		    type: 'doughnut',
		    data: {
		        labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
		        datasets: [
		            {
		                data: [300, 50, 100, 40, 120],
		                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
		                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
		            }
		        ]
		    },
		    options: {
		        responsive: true,
		        legend: {
		        	display: false
		        },
		        title: {
		            display: true,
		            position: 'bottom',
		            text: 'Custom Chart Title'
		        }
		    }
		});
		ctxD = document.getElementById("chart3").getContext('2d');
		var myLineChart = new Chart(ctxD, {
		    type: 'doughnut',
		    data: {
		        labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
		        datasets: [
		            {
		                data: [300, 50, 100, 40, 120],
		                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
		                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
		            }
		        ]
		    },
		    options: {
		        responsive: true,
		        legend: {
		        	display: false
		        },
		        title: {
		            display: true,
		            position: 'bottom',
		            text: 'Custom Chart Title'
		        }
		    }
		});
	</script>
</body>
</html>
