<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Intranet Drotium">
<meta name="author" content="Alejandro Campos - Drotium">
<meta name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Drotium Intranet</title>
<th:block th:include="includes/links :: links"></th:block>
<link th:href="@{/css/search.css}"
		rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<div class="content-wrapper">
		<form class="ml-3 mr-3" role="search">
			<div class="input-group">
				<input id="searchFiles" class="form-control" type="text" placeholder="Search">
				<div class="input-group-btn">
					<button id="clear" class="btn text-white ml-1" type="submit" style="background-color:#51C3F1;">Clear</button>
				</div>
			</div>
		</form>
	    <div class="container-fluid">
		    <div id="search-list" class="row m-2">
				
			</div>
	    </div>
	</div>

	<!-- Footer -->
	<th:block th:include="includes/footer :: footer"></th:block>
	<th:block th:include="includes/scripts :: scripts"></th:block>
	
	<script th:src="@{/js/search.js}"></script>
	<script type="text/javascript">
		$("body").niceScroll({
			fixed:true,
			zindex:'99999999',
			cursorcolor: '#51C3F1',
			cursorborderradius: 0,
			cursorborder:'none'
		});
	</script>
</body>

</html>
