<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Intranet Drotium">
<meta name="author" content="Alejandro Campos - Drotium">
<meta name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>Drotium Intranet</title>
<th:block th:include="includes/links :: links"></th:block>
</head>

<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<div class="content-wrapper">
		<div class="container-fluid">
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-folder"></i>
					<span>Shared With You</span>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table " id="dataTable" width="100%"
							cellspacing="0">
							<thead class="text-white" style="background-color:#51C3F1;">
								<tr>
									<th>File Name</th>
									<th>Owner</th>
									<th>Download Date</th>
									<th>Last Update</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
								<tr id="tablaFolders" th:each="folder:${folders}">
									<td><i class="fa fa-folder"
										style="font-size: 24px; color: #7E8C95;"></i><a class="ml-2"
										th:text="${folder.name}"
										th:href="@{/user/files/} + ${folder.id}"
										style="text-decoration: none;"></a></td>
									<td
										th:text="${folder.owner.name == user.name ? 'Yo' : folder.owner.name}">Owner</td>
									<td th:if="${folder.download} == null"><i class="fa fa-minus" aria-hidden="true"></i></td>
									<td th:if="${folder.download} != null" th:text="${#dates.format(folder.download, 'dd-MM-yyyy')}">Download Date</td>
									<td th:text="${#dates.format(folder.lastUpdate, 'dd-MM-yyyy')}">Update
										Date</td>
									<td>
										<div class="row">
											<div class="col-4">
												<a th:href="'/user/download/folder/' + ${folder.id}"> <i
													class="fa fa-download"
													style="font-size: 24px; color: black"></i></a>
											</div>
											<div class="col-4">
												<a href="#" data-toggle="modal"
													data-target="#shareModal">
													<i class="fa fa-share-alt"
													style="font-size: 24px; color: black"></i></a>
											</div>
											<div class="col-4">
												<a href="#" id="delete"><input type="hidden" th:value="${folder.id}"><i class="fa fa-trash-o" aria-hidden="true"
													style="font-size: 24px; color: black"></i></a>
											</div>
										</div>
									</td>
								</tr>
								<tr th:each="file:${files}">
									<td><i th:if="${file.format == 'zip'}" class="fa fa-file-archive-o" style="font-size: 24px; color: #0079CA;"></i>
										<i th:if="${file.format != 'zip'}" class="fa fa-file-text" style="font-size: 24px; color: #0079CA;"></i>
										<a th:if="${file.format == 'pdf'}" class="ml-2" th:text="${file.name}" th:href="@{/user/file/} + ${file.id}"></a>
										<a th:if="${file.format != 'pdf'}" class="ml-2" th:text="${file.name}" ></a>
									</td>
									<td
										th:text="${file.owner.name == user.name ? 'Yo' : file.owner.name}">Owner</td>
									<td th:if="${file.download} == null"><i class="fa fa-minus" aria-hidden="true"></i></td>
									<td th:if="${file.download} != null" th:text="${#dates.format(file.download, 'dd-MM-yyyy')}">Download Date</td>
									<td th:text="${#dates.format(file.lastUpdate, 'dd-MM-yyyy')}">Update
										Date</td>
									<td>
										<div class="row">
											<div class="col-4">
												<a class="" th:href="'/user/download/' + ${file.id}"><i
													class="fa fa-download"
													style="font-size: 24px; color: black"></i></a>
											</div>
											<div class="col-4">
												<a class="" th:href="@{/user/share}"> <!-- data-toggle="modal"
													data-target="#shareModal" --><i class="fa fa-share-alt"
													style="font-size: 24px; color: black"></i></a>
											</div>
											<div class="col-4">
												<a href="#" id="delete"><input type="hidden" th:value="${file.id}"><i class="fa fa-trash-o"
													style="font-size: 24px; color: black"></i></a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted"
					th:text="'Updated ' + ${#dates.format(lastDate, 'dd-MM-yyyy')}">Last
					Update</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<th:block th:include="includes/footer :: footer"></th:block>
	<th:block th:include="includes/scripts :: scripts"></th:block>
</body>

</html>
