<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Drotium Intranet</title>
<!-- Bootstrap core CSS-->
<link th:href="@{/libs/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<!-- Custom fonts for this template-->
<link th:href="@{/libs/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<link th:href="@{/libs/datatables/dataTables.bootstrap4.css}"
	rel="stylesheet">
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin.css}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	
	<!-- Navigation-->
  	<th:block th:include="includes/navbar :: navbar"></th:block>

	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<!-- <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">Tables</li>
			</ol> -->
			<!-- Example DataTables Card-->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> Data Table Example
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Office</th>
									<th>Age</th>
									<th>Start date</th>
									<th>Salary</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Office</th>
									<th>Age</th>
									<th>Start date</th>
									<th>Salary</th>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<td>Tiger Nixon</td>
									<td>System Architect</td>
									<td>Edinburgh</td>
									<td>61</td>
									<td>2011/04/25</td>
									<td>$320,800</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
  	<th:block th:include="includes/footer :: footer"></th:block>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/libs/jquery/jquery.min.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- Core plugin JavaScript-->
	<script th:src="@{/libs/jquery-easing/jquery.easing.min.js}"></script>
	<!-- Page level plugin JavaScript-->
	<script th:src="@{/libs/datatables/jquery.dataTables.js}"></script>
	<script th:src="@{/libs/datatables/dataTables.bootstrap4.js}"></script>
	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin.min.js}"></script>
	<!-- Custom scripts for this page-->
	<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
	
	<!-- Toggle between dark and light navbar-->
	<script>
	$('#toggleNavColor').click(function() {
		$('nav').toggleClass('navbar-dark navbar-light');
	    $('nav').toggleClass('bg-dark bg-light');
	    $('body').toggleClass('bg-dark bg-light');
	});
	</script>
</body>

</html>
