<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Register Drotium Intranet">
<meta name="author" content="Drotium">

<title>Intranet Log In</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/libs/bootstrap/css/bootstrap.min.css}"
		rel="stylesheet">

<!-- Custom styles for this template -->
<link type="text/css" th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>

	<div class="container">
		<form th:action="@{/register}" th:object="${user}" method="post" class="form-signin">
			<div class="text-center mb-4">
				<h2 class="h3 mb-3 font-weight-normal">Intranet Register</h2>
			</div>

			<div class="form-label-group">
				<input type="text" id="name" name="name" th:field="*{name}" th:placeholder="Name" class="form-control" autocomplete="off" required autofocus/>
				<label for="name">Name</label>
			</div>

			<div class="form-label-group">
				<input type="text" th:field="*{lastName}" placeholder="Last Name" id="lastName" name="lastName" class="form-control" autocomplete="off" required/>
				<label for="lastName">Last Name</label>
			</div>

			<div class="form-label-group">
				<input type="text" th:field="*{email}" placeholder="Email" id="email" name="email" class="form-control" autocomplete="off" required/>
				<label for="email">Email</label>
			</div>

			<div class="form-label-group">
				<input type="password" th:field="*{password}" th:placeholder="Password" id="password" name="password" class="form-control" autocomplete="off" required/> 
				<label for="password">Password</label>
			</div>
			
			<div class="form-label-group">
				<input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" class="form-control" autocomplete="off"  required/> 
				<label for="confirmPassword">Confirm Password</label>
			</div>

			<div class="form-label-group">
				<button type="submit" class="btn btn-primary btn-block">Register
					User</button>
			</div>

			<div class="text-center mb-4">
				<span class="text-center" th:utext="${successMessage}"></span>
			</div>

			<p class="mt-5 mb-3 text-muted text-center">&copy; Drotium
				2018-2019</p>
		</form>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/libs/jquery/jquery.min.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/libs/jquery-easing/jquery.easing.min.js}"></script>
	<script th:src="@{/js/register.js}"></script>
</body>
</html>